* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali */

body {
    font-family: 'Montserrat', sans-serif;
}

ul li {
    list-style-type: none;
}

/* regole del container */

.container {
    width: 90%;
    margin: auto;
}

/* CLEARFIX */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* colonne riutilizzabili floattate */

.col {
    float: left;
}

/* header */


header span {
    color: #899397;
}

header .top-nav {
    background-color: #f4f9fd;
    height: 80px;
    border-bottom: 1px solid #32495b;
    padding: 27px;
}

header .top-nav .col li {
    display: inline-block;
    
}

header .top-nav .col a {
    text-decoration: none;
    color: #32495b;
    font-size: 12px;
    text-transform: capitalize;
}

header .col .left {
    width: 50%;
}

Header .col.right {
    float: right;
}




/* NAV RULES */



