* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali */

body {
    font-family: 'Montserrat', sans-serif;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

/* regole del container */

.container {
    width: 90%;
    margin: auto;
}

/* CLEARFIX */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* colonne riutilizzabili floattate */

.col {
    float: left;
}

/* header */


header span {
    color: #899397;
}

header .top-nav {
    background-color: #f4f9fd;
    height: 80px;
    border-bottom: 1px solid #32495b;
}

header .top-nav .col li {
    display: inline-block;
    margin: 27px 10px 0 0;
}

header .top-nav .col a {
    text-decoration: none;
    color: #32495b;
    font-size: 12px;
    text-transform: capitalize;
}

header .col .left {
    width: 50%;
}

header .col.right {
    float: right;
}

header .col.right li:last-child {
    margin-right: 0;
}

/* NAV RULES */

header .bottom-nav {
    background-color: #fff;
    height: 80px;
}

header img {
    margin-top: 20px;
}

/* ricordarsi di mettere line height e ottimizzare il codice!! */

header .bottom-nav li {
    display: inline-block;
    margin: 27px 0 0 15px;
}

header .bottom-nav a {
    color: #32495b;
    font-weight: 600;
}
