* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali */

body {
    font-family: 'Montserrat', sans-serif;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

h1 {
    font-size: 55px;
    font-weight: 700;
}

/* regole del container */

.container {
    width: 85%;
    margin: auto;
}

/* CLEARFIX */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* colonne riutilizzabili floattate */

.col {
    float: left;
}

/* call to action */

.cta {
    background-color: #fe775a;
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 3px;
}

/* header */

header span {
    color: #899397;
}

header .top-nav {
    background-color: #f4f9fd;
    height: 80px;
    border-bottom: 1px solid #32495b;
}

header .top-nav .col li {
    display: inline-block;
    margin: 27px 10px 0 0;
}

header .top-nav .col a {
    text-decoration: none;
    color: #32495b;
    font-size: 12px;
    text-transform: capitalize;
}

.aqua {
    color: #00a4bd;
}

/* stile call to action top-nav */

header .top-nav .col a.style {
    color: #fe775a;
    border: 1px solid #fe775a;
    padding: 9px 7px;
    border-radius: 3px;
}

header .top-nav .col a.style2 {
    padding: 10px 8px;
    background-color: #fe775a;
    color: #fff;
    border-radius: 5px;
}


header .col .left {
    width: 50%;
}

header .col.right {
    float: right;
}

header .col.right li:last-child {
    margin-right: 0;
}

/* NAV RULES */

header .bottom-nav {
    background-color: #fff;
    height: 80px;
}

header img {
    margin-top: 20px;
}

/* ricordarsi di mettere line height e ottimizzare il codice!! */

header .bottom-nav li {
    display: inline-block;
    margin: 27px 0 0 15px;
}

header .bottom-nav a {
    color: #32495b;
    font-weight: 600;
}

/* immagine sfondo header */

header .background {
    background-image: url(../img/jumbotron.png);
    height: 100vh;
    background-size: cover;
}

header .background .hero-section {
    padding: 50px 0;
    width: 700px;
    color: #32495b;
}

header .background .hero-section p {
    font-weight: 500;
    line-height: 35px;
    margin: 30px 0;
}

